@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.full-img {
  position: relative;
  display: block;
  margin: auto;
  width: 640px;
  height: 480px;
  background-color: red;
}
.thumb-bar {
  display: flex;
  width: 640px;
  margin: auto;
}
.thumb-bar img {
  width: calc(100% / 5);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  /* background-color: blanchedalmond; */
}
